*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenent-float{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.float-right {
  float: right;
}
.button {
  display: inline-block;
  border-radius: 3px;
  color: white;
  background-color: #FF8F73;
  border: 1px solid;
  line-height: 30px;
}


.header-top {
  width: 100%;
  height: 100px;
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
}
.header-bottom {
  width: 100%;
  height: 100px;
  background-color: white;
}
.banner {
  width: 100%;
  height: 700px;
  background-color: #FFF3EE
}
.list-top {
  width: 85%;
  margin: auto;
}
.fa-globe-stand{
  font-size: 2px;
  color: black;
}
.menu{
  /* height: 100px; */
  vertical-align: middle;
  list-style: none;
}
.top-right li{
  display: inline;
}
.top-right a {
  text-decoration: none;
  /* padding: 3px; */
  color: black;
}
.trattino {
  border-right: 1px solid black;
}
.top-left li {
  display: inline;
}
.top-left a{
  text-decoration: none;
  padding: 5px;
}
/* .boh {
  background: #F5F8FA;
  border: 1px solid #F5F8FA;
  color:#F5F8FA;
} */

/* WARNING: problema con log in */



/* /menu top */
.list-top img {
  width: 80px;
  margin-top: 25px;
}
.list-top
{
  vertical-align: middle;
  line-height: 100px;
}
.menu li {
  display: inline;
}
.menu a{
  text-decoration: none;
  color: black;
  padding: 0 10px;
}


a.log-in{
  display: inline-block;
  color:orange;
  border: 1px solid orange;
  background-color: #FFF8F6;
  line-height: 20px;
  padding: 10px 20px;
}



/* menu header */
.banner {
  background-image: url(../img/jumbotron.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:  100% 80%;
}
.titolo-banner {
  width: 85%;
  margin: auto ;
}
h1 {
  width: 25%;
  font-size: 40px;
  padding: 40px 0;
}
.titolo-banner h2
{
  width: 30%;
  color: grey;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.titolo-banner a{
  display: inline-block;
  text-decoration: none;
  height: 80px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  vertical-align:middle;
  line-height: 80px;
}
.titolo-banner p {
  width: 20%;
}
/* /header */
main {
  width: 100%;
  background-color: #F5F8FA;
}

.top-main{
  width: 75%;
  margin: auto;
  height: 400px;
}

.logo-top-main {
  text-align: center;
}
.logo-top-main h2 {
  margin-bottom: 10px;
  margin-bottom: 10px;

}
.logo-top-main img {
  width: 300px;
  margin-top: 50px;
}
.logo-top-main p {
  width: 70%;
  margin: auto;
  color: grey;
}
/* /top main */
/* fre-hub */
.free-hub{
  width: 75%;
  margin: auto;
  background-color: white;
  height: 300px;
  margin-bottom: 40px;
}
.free-hub-left{
  float: left;
  width: 30%;
  height: 300px;
  text-align: center;
}
.free-hub-right{
  float: left;
  width: 70%;
  height: 300px;
}
.free-hub-left img {
  display: inline-block;
  width: 50%;
  margin-bottom: 60px;
  margin-top: 40px;
}
.free-hub-left a {
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  height: 40px;
  background-color: #FF8F73;
  border-radius: 4px;
  color: white;
  padding: 5px;
}
.free-hub-right h2{
  margin-top: 50px;
  margin-left: 65px;
  margin-bottom: 20px;
}
.free-hub-right p {
  margin-left: 65px;
  margin-bottom: 20px;
}
.free-hub-right h6{
  width: 100%;
  margin-left: 65px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
.free-hub-right ul{
  list-style: disc;
  margin-left: 55px;
  width: 100%;
}

.hr{
  background-color: lightgrey;
  height: 2px;
  width: 530px;
  margin-top: 8px;
  margin-left: 15px;
  padding: 0 5px;
}
.free-hub-right li{
  display: inline;
  padding: 10px;
}
.free-hub-right i{
 color: #ff8f73;
}
/* pre float 3 colonne */
.tre-colon {
  width: 75%;
  margin: auto;
  background-color:#F5F8FA;
  margin-bottom: 60px;
}

.colon-central{
  width: 30%;
  text-align: center;
  background: white;
  margin-bottom: 50px;
}


.central {
  margin: 0 5%;
}
.colon-central h2{
  margin-top: 30px;
  margin-bottom: 30px;
}
.colon-central img{
  margin-top: 40px;
}
.colon-central p{
  vertical-align: 20px;
  width: 70%;
  margin:  auto;
  margin-bottom: 30px;
}
.colon-central h4{
  margin: 20px 0;
}
.colon-central ul{
  list-style: none;
  text-align: left;
}
.colon-central li {
  margin-left: 50px;
}
.colon-central i {
  color: #FF7A59;
  padding: 5px;
}
.colon-central a {
  display: block;
  vertical-align: middle;
  height: 40px;
  width: 130px;
  margin: auto;
  margin-top: 30px;
  padding: 3px 5px;
  background-color: #FF7A59;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}
.colon-central a:hover {
  cursor: pointer;
}
/* /tre colonne */
/* bannerone-blue */
.banner-blue {
  width: 100%;
  background-color: #00B8A9;
  text-align: center;

}

.banner-blue h2 {
  font-size: 35px;
  width: 50%;
  margin: auto;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
}
.banner-blue p{
  color: white;
  width: 52%;
  margin:0  auto;
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 60px;
}
.box-number {
  width: 75%;
  margin:auto;
  height:200px;
}

.number {
  width: 25%;
  height:200px;
  text-align:center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.number img {
  width: 100px;
  height: 60px;
  margin-top: 40px;
}
.number h3{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}
.number h6 {
  color: white;
}
.no-border-right{
  border-right: 0px
}
.no-border-bottom {
  border-bottom: 0;
  margin-bottom: 60px;
}
/* /banner blu */
/* main bottom */
.container-main-bottom{
  width: 100%;
  background-color: white;
}
.container-small-logo {
  width: 75%;
  margin: auto;
  height: 400px;
  background: white;
}
.big-number {
  width:40%;
  text-align: center;
}

.small-logo {
  width: 50%;
  height: 300px;
}


.big-number h2{
  color:black;
}
.big-number p {
  color: lightblue;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  width: 30%;
}
.small-logo img {
  width: 130px;
}


.small-logo ul {
  list-style: none;
  margin-top: 85px;
}


.small-logo li {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}
/* /chiusura small logo */
.container-img-woman {
  width:100%;
  background-color: white;
  height: 600px;
}
.start {
  width: 40%;
  margin-left: 10%;
  height: 300px;
  margin-top: 60px;
  text-align: left;
}

.img-woman {
  width: 40%;
  margin-right: 10%;

}

.start h2{
  width: 80%;
  color:black;
  margin-top: 0;
  text-align: justify;
  margin-left: 0;
}

.start h4 {
  text-align: justify;
  width: 80%;
  color: #466795;
  line-height: 25px;
}
.start a {
  width: 250px;
  height: 80px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  background-color: #FF8F73;
  text-decoration: none;
  vertical-align: middle;
  line-height: 80px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 60px;
}

  .start p {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    font-size: 10px;
    color :#466795;
  }
  .img-woman img {
    height: 400px;
  }
  /* /main */
  footer {
    width: 100%;
    background-color: #33475B;
    height: 800px;
  }
.container-footer {
  width: 85%;
  margin: auto;
}

.menu-footer {
  width: 25%;
  margin-top: 80px;
  text-align: left;
}

.menu-footer h3 {
  color:  white;
  margin-bottom: 30px;
}
.menu-footer ul {
  list-style: none;
}
.menu-footer li {
  padding: 10px 0;
}
.menu-footer a{
  text-decoration: none;
  color: lightgrey;
}
.support {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  height: 40px;
  width: 180px;
  background-color: #EBEDEF;
  padding: 5px;
}
.special {
  line-height: 25px;
  vertical-align: middle;
}

  .menu-footer a:hover {
  color: blue;
}
